*{
  box-sizing: border-box; 
}
.item{
  list-style-type: none;
  text-align: center;
}
.list{
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.footer{
  box-sizing: border-box;
  background-color: rgba(228, 228, 18, 0.3);
}
.div{
  float: left;
  margin-right: 20px;
}
.main{
  height: 400px;
  font-size: 18px;
  line-height: 22px;
}
.header{
  background-color: rgba(228, 228, 18, 0.3);
}

